.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  padding-top: 80px;
  &__notfound-message {
    margin: 0;
    align-self: center;
    position: absolute;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
  }
  &__list {
    position: relative;
    display: flex;
    gap: 65px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    &-item {
      color: rgba(57, 20, 0, 0.6);
      cursor: pointer;
      font-size: 16px;
      transition: opacity 0.6s;
      &:hover {
        opacity: 0.7;
      }
      &_active {
        color: rgba(22, 205, 83, 1);
      }
    }
  }
  &__cardslist {
    display: grid;
    padding: 0;
    margin: 0;
    max-width: 1170px;
    width: 100%;
    list-style-type: none;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-items: center;
    gap: 30px;
  }
  &__button {
    margin-top: 80px;
    margin-bottom: 180px;
    border: none;
  }
  &__navigation {
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 640px) {
  .gallery {
    padding-top: 32px;
    &__navigation {
      display: none;
    }
    &__button {
      margin-top: 48px;
    }
  }
}
